<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="images/calendar.svg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Lundi 26</strong> <small>Updated</small> <small>31m ago</small>

  
            {{#each lundi}}
                    <div class="tag is-light is-primary"> {{this.nom_prof}}</div>
                    <div class="tag is-light is-warning"> {{this.nom_cours}}</div>
                    <div class="tag is-light is-info"> {{this.heure}}</div>
                    <div class="tag is-light is-danger"> {{this.salle}}</div>
                    <br>
            {{/each}}
     

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/images/calendar.svg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Mardi 27</strong> <small>Updated</small> <small>31m ago</small>

          <div class="custom">
            {{#each mardi}}
                    <div class="tag is-light is-primary"> {{this.nom_prof}}</div>
                    <div class="tag is-light is-warning"> {{this.nom_cours}}</div>
                    <div class="tag is-light is-info"> {{this.heure}}</div>
                    <div class="tag is-light is-danger"> {{this.salle}}</div>
                    <br>
            {{/each}}
          </div>

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/images/calendar.svg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Mercredi 28</strong> <small>Updated</small> <small>31m ago</small>

          <div class="custom">
            {{#each mercredi}}
                    <div class="tag is-light is-primary"> {{this.nom_prof}}</div>
                    <div class="tag is-light is-warning"> {{this.nom_cours}}</div>
                    <div class="tag is-light is-info"> {{this.heure}}</div>
                    <div class="tag is-light is-danger"> {{this.salle}}</div>
                    <br>
            {{/each}}
          </div>

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/images/calendar.svg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Jeudi 29</strong> <small>Updated</small> <small>31m ago</small>

          <div class="custom">
            {{#each jeudi}}
                    <div class="tag is-light is-primary"> {{this.nom_prof}}</div>
                    <div class="tag is-light is-warning"> {{this.nom_cours}}</div>
                    <div class="tag is-light is-info"> {{this.heure}}</div>
                    <div class="tag is-light is-danger"> {{this.salle}}</div>
                    <br>
            {{/each}}
          </div>

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/images/calendar.svg" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Vendredi 30</strong> <small>Updated</small> <small>31m ago</small>

          <div class="custom">
            {{#each vendredi}}
                    <div class="tag is-light is-primary"> {{this.nom_prof}}</div>
                    <div class="tag is-light is-warning"> {{this.nom_cours}}</div>
                    <div class="tag is-light is-info"> {{this.heure}}</div>
                    <div class="tag is-light is-danger"> {{this.salle}}</div>
                    <br>
            {{/each}}
          </div>

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
